.headerLogo {
	display: block;
	margin-left: 30px;
	margin-right: auto;
	margin-top: 5%;
	width: 35%;
}

ul {
	background-color: #46592A;
	padding: 8px;
}

li {
	display: inline;
	padding: 10px;
}

li a{
	text-decoration: none;
	color: #DEC3AB;
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
	letter-spacing: 2px;
}
a:hover{
background-color: #BA4409;}

.footer {
  position: static;
  padding: 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: #DEC3AB;
  margin-top: 25%;
  font-family: 'Amatic SC', cursive;
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.188803980801!2d16.544317950264045!3d41.13040417918694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1347f72bf3ece677%3A0x456a769f78fa60e7!2sMatilda%20%E2%80%A2%20Carboidrati!5e0!3m2!1sen!2sus!4v1627334407216!5m2!1sen!2sus" 
	width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			footer

}