
#mainImage {
	display: block;
	margin-top: 10px;
	width: 1000px;
	margin-bottom:10px;
}

#words {
	font-family: 'Josefin Slab', serif;
	color: #DEC3AB;
	vertical-align:middle;
  	text-align: center;
  	font-size: 20px;
  	padding: 30px;
}
#leftDiv {
	margin-top: 10px;
	float: left;
	margin: auto;
	width: 50%;
}

#rightDiv {
	margin-top: 10px;
	float: right;
	vertical-align:middle;
  	text-align: center;
	width: 650px;
	font-family: 'Josefin Slab', serif;
}